@import "tailwindcss";
@source "../../../packages/components/src";
@import "fontsource-inter/latin.css";

@font-face {
  font-family: "Inter";
  font-display: block;
}


body {
  font-family: "Inter", sans-serif;
}
